/***************************************************
Global
****************************************************/

:root {
	--sidebar-width: 22rem !important;
}

#main {
	max-width: 80%
}

.markdown-section tr:nth-child(2n) {
	background-color: #5c5c5c;
}

.app-nav>ul>li ul {
	margin-top: 5px;
}

.app-nav>ul>li ul a:hover {
	color: var(--navbar-root-color--active);
}

.sidebar-nav>ul>li>ul>li>ul>li>a:before {
	content: none;
}
.sidebar-nav>ul>li>ul>li>ul>li.active>a:before {
	content: none;
}

/***************************************************
Side Bar
****************************************************/

/* Logo */

.sidebar a.app-name-link img {
	width: 180px;
	margin-bottom: -30px;
	padding-left: 13px;
}

.sidebar h1.app-name {
	text-align: left
}

/***************************************************
Custom Header
****************************************************/

.header {
	display: flex;
	justify-content: space-between;
	padding-top: 20px;
	padding-bottom: 30px;
	border-bottom: 1px solid;
}

/* Darker background on mouse-over */

.header .theme-mode-switch {
	background-color: transparent;
	border: none;
	font-size: 16px;
	cursor: pointer;
	border-radius: 20px;
	display: block;
	width: 200px;
	display: flex;
	justify-content: space-between;
}

/* View in Source Code */

.header .btn {
	background-color: transparent;
	border: none;
	/* color: white; */
	padding: 2px 16px;
	font-size: 16px;
	cursor: pointer;
	border-radius: 20px;
	display: block;
}

.header .btn:hover {
	background-color: royalblue;
	color: white;
}

.header .btn p {
	display: inline;
}

.header .icon {
	height: 1.2rem;
	display: inline;
	vertical-align: middle;
	padding-right: 0.5rem;
}

/***************************************************
Custom Footer
****************************************************/

footer {
	font-size: 0.75rem;
}

/***************************************************
TOC Plugins
****************************************************/

.page_toc {
	font-size: 0.9rem !important;
}

/*
reomve conflicts with docsify-plugin-toc plugin
to support nesting navbar for docsify-themeable theme
*/

aside.toc-nav {
	z-index: 0 !important;
}

aside.toc-nav div {
	padding: 0 !important;
}