[submodule "cpilint"]
	path = cpilint
	url = https://github.com/stevedpedersen/cpilint.git
[submodule "sp_dev_package"]
	path = sp_dev_package
	url = https://sourcecode.jnj.com/scm/ASX-JGOJ/sp_dev_package.git
[submodule "btp_is_glbl_manifest_config"]
	path = btp_is_glbl_manifest_config
	url = https://sourcecode.jnj.com/scm/asx-jeas/btp_is_glbl_manifest_config.git
[submodule "jpm_shared_lib"]
	path = jpm_shared_lib
	url = https://sourcecode.jnj.com/scm/asx-nagh/jpm_shared_lib.git
[submodule "sp_jpm_tests"]
	url = ssh://git@sourcecode.jnj.com:3268/asx-jgoj/sp_jpm_tests.git
